@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html manifest="home/manifest">
<head>
    <title>AgriCult App</title>
    <link rel="Stylesheet" href="/Content/style.css"
          type="text/css" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/JS/jsStorageScript.js"></script>
</head>
<body>
    <section>
        <h2> Agriculture Farm - Basic Form Details</h2>
        <h4 id="statusMessage"> Data gets Sync'ed with DB when connected to Internet</h4>
        <div id="onlineStatus"></div>

        <label> Farm Name</label> <input type="text" placeholder="Name" id="name" />
        <br />
        <label>
            Farm Size
        </label><input type="text" placeholder="Size in Acres" id="size" />
        <br />

        <label>
            Specialized In
        </label><input type="text" placeholder="Types of Crops/Products cultivated" id="specializedIn" />
        <br />

        <label>
            Location
        </label><input type="text" placeholder="Address" id="location" />
        <br />

        <label>
            Owner Details
        </label><input type="text" placeholder="Owner" id="owner" />
        <br />
        <label>
            Comments
        </label><textarea id="Comment" placeholder="Comment"></textarea>

        <div id="command">

            <input type="button" value="Save" id="save" style="float:left;margin:10px 10px 10px 10px;" />
            <input type="button" value="Clear" id="clearBtn" style="float:left;margin:10px 10px 10px 10px;" />
        </div>

        <ul id="log"></ul>

        
        <div style="float:right;padding-top:50px;">&copy; @DateTime.Now.Year - AgriCult App</div>

    </section>
</body>
</html>